<div class="container-adv" >
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade carousel-dark slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active position-relative">
            <div class="item-carousel d-block w-100">
              <div class="position-absolute top-50 start-50 translate-middle">
                <div class="box shadow-sm">
                  <h1>Trở thành giáo viên cùng FEDUCATION</h1>
                  <span class="body-title">
                    Tận hưởng nhiều quyền lợi khi trở thành giáo viên của
                    chúng tôi với việc được giảng dạy, đồng hành cùng chặng
                    đường truyền tải kiến thức đến cho mọi người.
                  </span>
                  <button
                    class="btn btn-info btn-primary"
                    style="color: aqua"
                  >
                    Teach on FEDUCATION
                  </button>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5 style="font-weight: 600; font-size: 15px">
                Hãy trở thành cộng tác của chúng tôi
              </h5>
              <p>
                Click vào nút nhấn trên để tìm hiểu ngay đặc quyền và quyền
                lợi của việc trở thành giáo viên của FEDUCATION.
              </p>
            </div>
          </div>
        <div class="carousel-item active position-relative">
            <div class="item-carousel d-block w-100">
              <div class="position-absolute top-50 start-50 translate-middle">
                <div class="box shadow-sm">
                  <h1>Trở thành giáo viên cùng FEDUCATION</h1>
                  <span class="body-title">
                    Tận hưởng nhiều quyền lợi khi trở thành giáo viên của
                    chúng tôi với việc được giảng dạy, đồng hành cùng chặng
                    đường truyền tải kiến thức đến cho mọi người.
                  </span>
                  <button
                    class="btn btn-info btn-primary"
                    style="color: aqua"
                  >
                    Teach on FEDUCATION
                  </button>
                </div>
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5 style="font-weight: 600; font-size: 15px">
                Hãy trở thành cộng tác của chúng tôi
              </h5>
              <p>
                Click vào nút nhấn trên để tìm hiểu ngay đặc quyền và quyền
                lợi của việc trở thành giáo viên của FEDUCATION.
              </p>
            </div>
          </div>
        <div class="carousel-item active position-relative">
          <div class="item-carousel d-block w-100">
            <div class="position-absolute top-50 start-50 translate-middle">
              <div class="box shadow-sm">
                <h1>Trở thành giáo viên cùng FEDUCATION</h1>
                <span class="body-title">
                  Tận hưởng nhiều quyền lợi khi trở thành giáo viên của
                  chúng tôi với việc được giảng dạy, đồng hành cùng chặng
                  đường truyền tải kiến thức đến cho mọi người.
                </span>
                <button
                  class="btn btn-info btn-primary"
                  style="color: aqua"
                >
                  Teach on FEDUCATION
                </button>
              </div>
            </div>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5 style="font-weight: 600; font-size: 15px">
              Hãy trở thành cộng tác của chúng tôi
            </h5>
            <p>
              Click vào nút nhấn trên để tìm hiểu ngay đặc quyền và quyền
              lợi của việc trở thành giáo viên của FEDUCATION.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>