
.bar{
    height: 100%;
    width: 215px;
    background-color: gray;
    border-left: solid 5px #000;
    margin-left: -8px;
}
.title{
    justify-content: center !important;
    text-align: center;
    align-items: center ;
    margin-top: 10px;
}
.header-details{
    font-weight: 600;
    margin-right: 10px;
    font-size: 20px;
}
.body-details{
    display: flex !important;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.5;
    font-size: 18px;
    color: black;
    

}
.lesson{
    border: solid 1px burlywood;
}
.lessons-other{
    margin-top: -10px;
    width: 430px;
    margin-left: -14px;
}
.title-list{
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 30%
}
.active{
    background-color: aqua;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.header-list{
    z-index: 99;
}
.detail-list{
    font-style: italic;
    color: gray;
    font-size: 18px;
    margin-left: 25%
}
.conten-lessons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.dropdown-item:hover{
    background-color: pink !important;
}
.item-active{
    margin-left: 10px;
}
.btn{
    display: flex ;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.Tracks_wrapper{
  right: 0;
  top: 0;
  width: 29%;
  background-color: white;
  position: fixed;
  margin-top: 50px;
  margin-right: -9px;
}
.scrollable-div {
  overflow-y: auto; 
  scroll-behavior: smooth;
  max-height: 100%;
}
h1{
    margin: 0 0 10px;
}
.list-lessons:hover{
    background-color: white;
    font-size: 20px;
    color: red;
    z-index: 3;
    margin-right: 20px;
}
.active:hover{
    background-color: aqua;
    font-size: inherit;
    color: inherit;
    z-index: inherit;
    margin-right: inherit;
}
.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 50px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .example-card {
    margin-bottom: 10px;
  }
  
  .white-background {
    background-color: red;
    /* Các thuộc tính khác nếu cần */
}
.container[_ngcontent-ng-c1984478635] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}
.rating-wrap{
	max-width: 480px;
	margin: auto;
	padding: 15px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
	text-align: center;
}

.center{
	width: 172px;
	margin: auto;
}


#rating-value{	
	width: 150px !important;
	margin: 40px auto 0;
	padding: 10px 5px;
	text-align: center;
}

/*styling star rating*/
.rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #2ce679;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #2ddc76;
}
.abc{
    position: fixed !important;
    top: 0 ;
    right: 0 ;
    bottom: 0 ;
    left: 0 ;
    z-index:  infinite !important;
  }
  .modal_overlay{
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.4);
  }
.modal_inner {
  position: relative;
  width: 735px;
  height: 670px;
  // margin: 41px 342px 144px 120px;
  border-radius: 12px;
  background-color: #fff;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  z-index: 3
}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

.abc{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.modal_overlay{
	font-family: Arial, sans-serif;
}

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44%;
}

.rating-wrap{
	max-width: 480px;
	margin: auto;
	padding: 15px;
	text-align: center;
}

.center{
	width: 172px; 
	margin: auto;
}


#rating-value{	
	width: 110px;
	margin: 40px auto 0;
	padding: 10px 5px;
	text-align: center;
}

/*styling star rating*/
.rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}


.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: yellow;
    font-weight: 800;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: yellow;
    font-weight: 800;
}
.form-floating.cmt {
    text-align: center;
}

.form-floating {
    width: 400px;
    height: 157px;
    margin: 0 auto; /* Thêm dòng này để căn giữa theo chiều ngang */
    border: solid 2px #333;
   
}
.form-control{
    margin-top: 2px;
    margin-left: 7px;
    margin-bottom: 2px;
    width: 380px;
    height: 147px;
    resize: none;
}
.Title {
    height: 19px;
    flex-grow: 1;
    font-family: Inter;
    font-size: 19px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #22493b;
  }
  $radius: 12px;
  .form_heading  {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin: 0 0 16px;
    padding: 16px;
    background-color: #e2f1ef;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
  }
  .deletedButton {
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
    margin: 12px 0 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 16px;
    border: solid 1px #e2f1ef;
  }
  .right-actionsDeleted {
    width: 1060px;
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0;
  }
  .Buttons-cancels {
    width: 60px;
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1px 16px;
    border-radius: 8px;
  }
  .cancel{
    width: 28px;
    height: 21px;
    flex-grow: 0;
    font-family: Lexend;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #22493b;
  }
  button#cancel:hover{
    background-color: red !important;
    color: white !important;
    border-radius: $radius;
  }


  .material-symbols-outlined.start{
    font-variation-settings:
    'FILL' (255,255,255),
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .detail-goal{
    margin-left: 20px;
    justify-content: flex-start;
    align-items: flex-start;

  }
