body{
    width: 100wh;
    height: 184vh;
    font-family: Lexend;
    line-height: 1.5;
}
.me-2{
    width: 300px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.d-flex{
    justify-content: center;
    align-items: center;
    height: 50px;
}
.form-control{
    height: 30px

}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
}
.nav-item{
    font-size: 18px;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    margin-left: 5px;
}
::placeholder{
    font-size: 18px;
}
.account{
    margin-right: 20px;
}
.p-2{
    margin-top: 5%;
    justify-content: flex-start;
}
.container-footer{
    width: 100%;
    height: 357px;
    background-color: black ;
    max-width: 100%;
}
.container-footer-header{
    width: 100%;
    height: 80px;
    border-bottom: solid 1px #fff;
}
.ok{
    top: 50;
    bottom: 25;
    right: 0;
    left: 100;
    margin-top: 50;
}
.title-footer{
    font-size: 30px;
    font-weight: 700;

}
.image-footer{
    width: auto; 
    height: 60px;
    margin-right: 2%;
    border-radius: 5%;
}
.p-2{
    color: whitesmoke; font-size: 14px;
}
.courses-favorite{
    color: black;
    width: 40px;
    height: 40px;
}
.circle {
    width: 35px; 
    height: 35px; 
    background-color: #000; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; 
    font-size: 20px; 
    font-weight: bold; 
}
.circle1 {
    width: 72px;
    height: 73px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    margin-left: 30px;
}
.container-adv{
    width: 1474px;
    height: 350px;
    margin-top: 20%;
}
.item-carousel{
    background-color: #ecec7e;
    width : 1400px;
    height: 400px;
    margin: 5px 5px 5px 5px;
}
.item-carousel1{
    background-image: url('../../assets/slide4.jpg');
    width : 1400px;
    height: 400px;
    margin: 5px 5px 5px 5px;
}
.item-carousel2{
    background-image: url('https://png.pngtree.com/png-clipart/20220226/ourmid/pngtree-color-simple-grid-background-frame-photo-frame-png-image_4413390.png');
    width : 1400px;
    height: 400px;
    margin: 5px 5px 5px 5px;
}
.box{
    margin-top: 50px;
    margin-right: 30px;
    width: 445px;
    height: 176px;
    background-color: white;
    margin-right: 900px;
    margin-bottom: 50px;
}
.header-title{
    font-size: 16px;
    font-family: Lexend;
    font-weight: 400px;
    text-align: center; 
    align-items: center; 
    justify-content: center;
}
.body-title{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    text-align: center; 
    align-items: center; justify-content: center;
}
.box-list{
    margin-top: 40px;
}
.nav-link{
    margin-top: 10px;
}
.user{
    padding-bottom: 30px;
    margin-top: 68px;
    margin-bottom: 20px;
}
.header-box{
    margin-top: 40px;
}

.nav-item:hover .dropdown-menu {
    display: block;
  }
  .item-user{
    margin-right: 30%;
  }
  .nav-item:hover.dropdown-menu.show{
    display: block;
  }
  .nav-link:hover.dropdown-menu.show{
    display: block;
  }
  .dropdown-menu.show {
	display: none;
    }
    .title-user{
        color: black !important;
        font-size: 16px;
        margin-left: 141px;
        
        margin-bottom: 142px;
    }
    .dropdown-divider{
            margin-top: -20%;
    }
.body-user{
    font-size: 18px;  
    color: #2E2E2E;
    margin-bottom: -10px;
}
.dropdown-item{
    height: 50px;
}
.body-user:focus{
    color: white;
    background-color: aqua;
}
.last:hover{
    color: red;
    font-weight: 800px;
    
}